# 나중에 도메인 할당 -> https 설정 -> nginx 등록 전부 한 뒤에

version: "3"
services:
  ffmpeg:
    image: "jrottenberg/ffmpeg"
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "80:80"

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - ./server/:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"